.color-orange {
    background-color: #F29E20;
}

.color-white{
    background-color: white;
}
body {
	background-color: #f4f4f4;
	font-family: tahoma;
	color: #6b6a6a;
}

.nav.navbar-nav.navbar-right li a{
    color: #f4f4f4;
}

.nav li a{
    color: inherit;
} 

.dropdown-header{
    color: #f4f4f4;
    
}


.nav > li > a:hover, .nav > li > a:focus {
  background-color: #a52a2a;
  text-decoration: none;
  color: white;
}


.navbar-nav > li > .dropdown-menu { background-color: #a52a2a; }

.navbar-nav > li > .dropdown-menu > li:hover { background-color: #F29E20; }

li.dropdown.open > a:focus {
  background: #a52a2a;
}

.right_border{
    border-right: 1px solid;
}
.bottom_border{
    border-bottom:  1px solid;
}

.top-buffer { margin-top:20px; }


.center{
    text-align: center;
}

.padding{
    padding: 15px;
}
 




/* { margin: 0px; padding: 0px; }
body {
	background-color: #f4f4f4;
	font-family: tahoma;
	color: #6b6a6a;
}

#main {width: 100%; margin:0px auto;box-sizing:border_box;}
#header{width: 100%; margin: 0px auto; background-color: #F29E20;}
#inHeader{width: 1100px; margin:0px auto; }
#content {width: 1100px; margin: 0px auto}
#footer{width: 100%; margin: 0px auto; background-color: #F29E20;}
#inFooter{width: 1100px; margin:0px auto;}

#menu{
	width: 1100px; margin:0px auto;
	margin-bottom: 50px
}
#menu_style {
	list-style: none;
	margin: 0px; margin-top: 2px;
}
#menu_style li{
    font-size:11px; list-style: none; float: left;
    text-align:center; box-sizing:border-box; 
    padding: 10px; margin-right: 2px; width:364.67px
}
#menu_style li:hover { background-color: #F29E20;}
#menu_style li a { text-decoration: none; color: #6b6a6a  }

.full_box{
	width: 1100px; margin:0px auto; 
}
.half_box{
	width: 550px; margin:0px auto;
}
.form_box {
	background-color: white;
	width: 1100px; margin: 0px auto;
	padding: 20px;
}
.form_boxHalf {
	background-color: white;
	width: 550px; margin: 0px auto;
	padding: 20px;
}




.marginTop150 {margin-top: 150px}
.label {font-size: 20px; margin-bottom: 20px}
.form_label {font-size: 15px; margin-bottom: 20px}	
.input_label{font-size: 15px; margin-bottom: 20px}

input[type=submit] {cursor: pointer; width: 200px; padding: 5px; border-radius:5px;border:10px solid white;}
input[type=submit]:hover {background-color: #F29E20}


p {color: #6b6a6a}
table tr td {padding: 15px; }
.right_align{text-align: right;}
.er_message{color: red; }
.success_message{color: green; }
.message{color: #6b6a6a; } */